<!-- header logged out -->
<nav id="loggedOut">
	<div class="global-header-bar"></div>
	<div class="header-user">
		<div class="header-inner">
			{% include "includes/alpha-banner.html" %}
		</div>
	</div>
	<div class="header-organisation">
		<div class="header-inner">
			<nav id="global-nav" class="global-nav">
				<ul id="global-nav-links">
					<li class="home"><a href="/">Home</a></li>
					<li class="interaction-design"><a href="/patterns/interaction-design">Interaction design</a></li>
					<li class="page-layouts"><a href="/patterns/page-layouts">Page layouts</a></li>
					<li class="HTML-elements"><a href="/patterns/HTML-elements">HTML elements</a></li>

					<!-- <li class="external-sites"><a href="/patterns/external-sites">External sites</a></li>
					<li class="user-journeys"><a href="/patterns/user-journeys">User journeys</a></li>
					<li class="visual-language"><a href="/patterns/visual-language">Visual language</a></li>
					<li class="foundation"><a href="/patterns/foundation">Foundation</a></li>
	                <li class="more hidden"><a href="#">More +</a></li> -->
				</ul>
			</nav>
		</div>
	</div>
</nav>