<!-- header logged out -->
<nav id="loggedOut">
	<div class="global-header-bar"></div>
	<div class="header-user">
		<div class="header-inner">
		</div>
	</div>
	<div class="header-organisation open">
		<div class="header-inner">
			<nav class="global-nav">
				<ul class="global-nav-links">
					<li class="home"><a href="/">Home</a></li>
					<li class="HTML-elements"><a href="/patterns/elements">Elements</a></li>
					<li class="interaction-design"><a href="/patterns/index">Patterns</a></li>
					<li class="page-layouts"><a href="/patterns/pages">Pages</a></li>
					<li class="user-journeys"><a href="/patterns/user-journeys">User journeys</a></li>
					<li class="visual-language"><a href="/patterns/visual-language">Visual language</a></li>
					<li class="resources"><a href="/resources">Resources</a></li>
	
					<!--<li class="foundation"><a href="/patterns/foundation">Foundation</a></li>-->
	                <li class="more"><a href="#">More &hellip;</a></li>
	                <li class="menu"><a href="#">Menu <i class="fa fa-bars"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
</nav>