<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<!-- Add scripts -->

<!-- Code blocks styles -->
<script src="/public/javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/public/stylesheets/highlight-dark.css"/>
<link href="{{ asset_path }}stylesheets/chardinjs.css" media="screen" rel="stylesheet" />

    <script src="{{ asset_path }}javascripts/chardinjs.min.js"></script>

<script>
    $("#chardinStart").click(function(e){
        e.preventDefault(); 
        $('body').chardinJs('start');
    });
</script>