{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Funding {% endblock %}
{% block inside_header %} 
{% endblock %}
{% block after_header %}
{% include "patterns/includes/header.html" %}
{% endblock %}
{% block content %}
<style>
    .header-organisation {
        display: none;
    }
    .header-user h2 {
        display: none;
    }
</style>


<main class="elements-index" id="content" role="main" tabindex="-1">


    <div class="grid-row">
        <div class="column-two-thirds">
<div class="hgroup">
            <h1 class="heading-xlarge">
Create a new password       </h1>
</div>
            <div class="form-group">
                <label class="form-label-bold" for="password">Create a password 
                    <span class="form-hint"> 
                    <p>Your password must:</p> 
                    <ul class="list list-bullet" style="margin-bottom:0;"> 
                        <li>be between 8 and 16 characters</li> 
                        <li>include at least one uppercase letter and one lowercase letter</li> 
                        <li>include at least one number</li> 
                    </ul> 
                    </span> 
                </label>
                <div class="password-strength-group">
                    <input autocomplete="off" class="form-control" id="password" maxlength="128" minlength="8" name="password" type="password" data-password="password" tabindex="0">
                    <div class="strength_meter">
                        <div data-meter="password"></div>
                    </div>
                </div>
            </div>

            <form>
                <div class="form-group">
                    <label class="form-label-bold" for="password2">Re-type password</label>
                    <ul class="hidden force-show" role="group" tabindex="-1">
                        <!-- ngIf: errorOnSubmission && wasInvalidOnSubmit('email', 'required') || (wasInvalidOnSubmit('email', 'pattern')) -->
                    </ul>
                    <input class="form-control" id="password2" maxlength="128" minlenght="8" name="password2" type="password" tabindex="0">
                </div>
                <div class="form-group">
                    <a class="button" href="/user/login.html?password=reset">Continue</a>
                </div>
            </form>


        </div>
    </div>

</main>
{% endblock %}