{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
        User journeys
    </h1>
    <div class="text">
        <p class="lede">
            Common user journey patterns.
        </p>
    </div>
    <h2 class="heading-small heading-contents">Contents:</h2>
    <div class="grid-row">
        <div class="column-two-thirds">
            <ul class="list list-contents">
                <li><a href="#search" class="disabled">Search</a></li>
                <li><a href="/patterns/interaction-design/navigation#nextsteps">Next steps</a></li>
                <li><a href="/patterns/user-journeys/wizards#welcomewizard">Welcome wizard</a></li>
                <li><a href="#login" class="disabled">Login</a></li>
                <li><a href="#register" class="disabled">Register</a></li>
                <li><a href="#crud" class="disabled"><acroynm title="Create Replace Update Destroy">CRUD</acroynm></a></li>
                <li><a href="#crud" class="disabled"><acroynm title="Access Control Levels">ACL</acroynm></a></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
