{% extends "layout.html" %} {% block page_title %} DAS pattern library {% endblock %} {% block inside_header %} {% endblock %} {% block content %} {% block after_header %} {% include "patterns/includes/header.html" %} {% endblock %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
      Materials
  </h1>

    <div class="text">
        <p class="lede">
            All the HTML Elements that can exist according to W3C
        </p>
    </div>

     {% include "patterns/materials/contents.html" %}    


</main>
{% endblock %}