{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}




{% block content %}


{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">SFA design language</span>
    Plans
  </h1>

  <div class="text">
    <p class="lede">
        Design language for layout
    </p>
  </div>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="/sprint/home-and-garden/plans/#2+1">2 thirds with rail</a></li>
        <li><a href="/sprint/home-and-garden/plans/#2+0">2 thirds without rail</a></li>
        <li><a href="/sprint/home-and-garden/plans/#1+0">full width</a></li>
      </ul>
    </div>
  </div>

  
    
</main>
{% endblock %}
