{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

 <section id="a">
   
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h4 class="heading-large">&lt;a&gt;</h4>
            <ul class="list list-bullet text">
                <li>links within body copy should be blue and underlined</li>
                <li>links without surrounding text should not have a full stop at the end</li>
                <li>link colours can be found in the <a href="/colour">colour palette</a></li>
            </ul>
            <div class="example">
                <div class="text">
                    <p>
                        <a href="#">A 19px link without surrounding text</a>
                    </p>

                    <p>
                        <a href="#">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>

                    <a href="#" class="link-back">Back</a>

                </div>
            </div>
            
<details>
    <summary>HTML</summary>
<pre>
                <code class="html">
&lt;p&gt;&lt;a href="#"&gt;A 19px link without surrounding text&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="#"&gt;A 19px body copy link&lt;/a&gt;. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.&lt;/p&gt;
&lt;a href="#" class="link-back"&gt;Back&lt;/a&gt;
                </code>
            </pre>    
</details>            

<details>
                <summary>
                    SASS
                </summary>
            <pre>
                <code class="sass">
    a {
    &:link {
        color: #005ea5;
        }
    &:visited {
        color: #4c2c92;
        }
    &:hover {
        color: #2b8cc4;
        }
    &:active {
        color: #2b8cc4;
        }
    &:focus {
        background-color: #ffbf47;
        outline: 3px solid #ffbf47;
        }
    }
                </code>
            </pre>                
            </details>
            

        </div>
    </div>
     
    </section>
</main>
    {% endblock %}