{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
 <section id="address">
        <h3 class="heading-large">Address</h3>
        <p>Wrap your addresses in the &lt;address&gt; element to maintain semantic markup.</p>
      
        <div class="example">
            <address>Chelmsymore House, Quinton Road, Coventry, CV1 2TW</address>
        </div>
<details>
    <summary>HTML</summary>
    <pre>          
    <code class="html">
&lt;address&gt;Chelmsymore House, Quinton Road, Coventry, CV1 2TW&lt;/address&gt;
            </code>
        </pre>    
</details>
        </section>   
</main>

{% endblock %}