{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

    
{% include "includes/link-back.html" %}
    
    <div class="hgroup">
    <h1 class="heading-large">
      Documents
    </h1>
    <div class="text">
        <p class="lede">
            When presenting a documents, often legal agreements, we use the whitehall HTML document pattern.
        </p>
        <a id="chardinStart" href="#">Initiate overlay description</a>
    </div>
    </div>
    <details>
        <summary>HTML</summary>
    <pre>
        <code class="html">
             &lt;main class="sign-agreement" id="content" role="main" tabindex="-1"&gt;
  &lt;a href="#" class="link-back"&gt;Back&lt;/a&gt;

    
    &lt;div class="grid-row" id="publication-banner"&gt;
        &lt;div class="column-third"&gt;
            &lt;div class="logo"&gt;
    &lt;h1&gt;&lt;span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"&gt;&lt;span&gt;Skills Funding &lt;br&gt;Agency&lt;/span&gt;&lt;/span&gt;&lt;/h1&gt;

  &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="column-two-thirds"&gt;
                                &lt;aside style="float: right; text-align: right;"&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="#"&gt;Save this agreement as a PDF&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/aside&gt;&lt;/div&gt;
    &lt;/div&gt;
    
    &lt;article id="draftContract" class="html-publications-show"&gt;

            &lt;header class="publication-header" id="contents"&gt;
&lt;div class="inner-block floated-children"&gt;
&lt;div class="headings"&gt;
&lt;p class="document-type"&gt;Agreement&lt;/p&gt;
&lt;h1&gt;Apprenticeship levy: &lt;br&gt;legal agreement to enable spending

&lt;/h1&gt;
&lt;p&gt;Updated &lt;time class="published-at date" datetime="2016-08-12T09:34:04+01:00"&gt;31 January 2017&lt;/time&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;nav class="in-page-navigation"&gt;
&lt;h3 class="bold-small"&gt;Contents&lt;/h3&gt;
&lt;ol class="unnumbered"&gt;
&lt;li&gt;&lt;a href="#1 "&gt;Definitions and Interpretation &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#2"&gt;Purpose and Use of Funding&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#3"&gt;Commencement and Duration&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;
&lt;/nav&gt;
&lt;/div&gt;
&lt;/header&gt;
            

&lt;div class="block publication-content"&gt;
  &lt;div class="inner-block floated-children"&gt;
    &lt;div class="govspeak"&gt;
&lt;h2 id="Introduction"&gt;Parties&lt;/h2&gt;

&lt;p&gt;The SFA; and&lt;/p&gt;
        &lt;p&gt;(1)	The Employer.&lt;/p&gt;


        
&lt;h2 id="Definitions"&gt;Background&lt;/h2&gt;

&lt;p&gt;This Agreement sets out the terms for use of the Apprenticeship Funding Service by the Employer and the obligations by which the Employer agrees to be bound.&lt;/p&gt;

        
&lt;h2 id="term-of-agreement"&gt;Agreed terms&lt;/h2&gt;

&lt;h2 id="1"&gt;&lt;span class="number"&gt;1.&lt;/span&gt;Definitions and Interpretation&lt;/h2&gt;
&lt;p&gt;In this Agreement the following terms shall have the following meanings:&lt;/p&gt;
&lt;p&gt;&lt;span class="bold-small"&gt;Apprentice:&lt;/span&gt; a person who works under an Apprenticeship Agreement.&lt;/p&gt;
        &lt;p&gt;&lt;span class="bold-small"&gt;Apprenticeship:&lt;/span&gt; the training and (where applicable) end-point assessment for an employee as part of a job with an accompanying skills development programme.&lt;/p&gt;
      
        &lt;p&gt;&lt;span class="bold-small"&gt;Prohibited Act: means:&lt;/span&gt;&lt;/p&gt;
        &lt;ol class="list" style="list-style-type:lower-alpha;"&gt;
            &lt;li&gt;offering, giving or agreeing to give to any servant of the Crown any gift or consideration of any kind as an inducement or reward for:
            &lt;/li&gt;
            &lt;li&gt;entering into this Agreement or any other contract with the Crown where a commission has been paid or has been agreed to be paid by the Employer or on its behalf, or to its knowledge, unless before the relevant contract is entered into particulars of any such commission and of the terms and conditions of any such contract for the payment thereof have been disclosed in writing to the SFA;&lt;/li&gt;
            &lt;li&gt;committing any offence:
                &lt;ol class="list" style="list-style-type:lower-roman; padding-left: 40px;"&gt;
                    &lt;li&gt;under the Bribery Act;&lt;/li&gt;
                    &lt;li&gt;under legislation creating offences in respect of fraudulent acts; or&lt;/li&gt;
                    &lt;li&gt;at common law in respect of fraudulent acts in relation to this Agreement or any other contract with the Crown; or&lt;/li&gt;
                &lt;/ol&gt;
            &lt;/li&gt;
            &lt;li&gt;defrauding or attempting to defraud or conspiring to defraud the Crown.&lt;/li&gt;
        &lt;/ol&gt;
        &lt;p&gt;&lt;span class="bold-small"&gt;SFA:&lt;/span&gt; the Secretary of State for Education, acting through the Skills Funding Agency, an executive agency of the Department for Education, whose principal address is at Cheylesmore House, Quinton Road, Coventry, CV1 2WT.&lt;/p&gt;


        &lt;h3&gt;&lt;span class="number"&gt;1.2&lt;/span&gt;&lt;/h3&gt;        
        &lt;p&gt;Unless the context otherwise requires, words in the singular shall include the plural and in the plural shall include the singular.&lt;/p&gt;

        &lt;h3&gt;&lt;span class="number"&gt;1.3&lt;/span&gt;&lt;/h3&gt;        
        &lt;p&gt;Unless the context otherwise requires, a reference to one gender shall include a reference to the other genders.&lt;/p&gt;

        &lt;h2 id="2"&gt;&lt;span class="number"&gt;2.&lt;/span&gt;Purpose and Use of Funding&lt;/h2&gt;
        &lt;p&gt;The Employer acknowledges and accepts that the Funding available in the Employer’s Digital Account is to support the Training of Apprentices and shall be paid directly to the Training Provider in accordance with the Funding Rules. The Employer understands that the Funding may not be used for any other purpose.&lt;/p&gt;

        
        &lt;h2 id="3"&gt;&lt;span class="number"&gt;3.&lt;/span&gt;Commencement and Duration&lt;/h2&gt;
        &lt;h3&gt;&lt;span class="number"&gt;3.1&lt;/span&gt;&lt;/h3&gt;        
        &lt;p&gt;Except where otherwise specified, the terms of this Agreement shall apply from the Commencement Date and shall continue in force until it is terminated in accordance with clause 17 of this Agreement.&lt;/p&gt;

        
        &lt;h3&gt;&lt;span class="number"&gt;3.2&lt;/span&gt;&lt;/h3&gt;        
        &lt;p&gt;By electronically accepting these terms and conditions, the Employer confirms it is authorised to use funds in the Employer’s Digital Account and agrees to be legally bound by this Agreement.&lt;/p&gt;      
        
        &lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/article&gt;

&lt;/main&gt;
        </code>
    </pre>
        
    </details>
    <details>
        <summary>SASS</summary>
        <pre>
            <code class="css">
/* HTML document styles */
.html-publications-show:after,
.html-publications-show .publication-external:after,
.html-publications-show .publication-header:after,
.html-publications-show .publication-content .govspeak .contact:after {
  content: "";
  display: block;
  clear: both;
}

.html-publications-show:after,
.html-publications-show .publication-external:after,
.html-publications-show .publication-header:after,
.html-publications-show .publication-content .govspeak .contact:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.html-publications-show {
    padding: 15px 15px 90px;
    .publication-header {
        background: #2b8cc4;
        padding: 10px 15px;
        margin: 0 -15px;
        .headings {
            overflow: hidden;
            .document-type {
                font-family: "nta", Arial, sans-serif;
                font-size: 20px;
                line-height: 1.11111;
                font-weight: 400;
                text-transform: none;
                display: block;
                margin: 20px 0 0;
            }
            h1 {
                font-family: "nta", Arial, sans-serif;
                font-size: 32px;
                line-height: 1.09375;
                font-weight: 400;
                text-transform: none;
                font-weight: bold;
                margin: 5px 0 15px;
                color: #fff;
            }
            p {
                margin: 15px 0 20px;
                color: #fff;
            }
        }
    }
    .in-page-navigation {
        color: #fff;
        margin: 0 0 40px;
        width: 100%;
        h2 {
            font-weight: bold;
        }
        ol {
            padding-left: 30px;
            list-style-type: decimal;
            li {
                list-style: decimal;
                font-weight: bold;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            font-weight: normal;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .publication-content {
        position: relative;
        z-index: 2;
    }
    .publication-content {
        .govspeak {
            h2 {
                font-weight: bold;
                color: black;
                margin-top: 30px;
                .number {
                    background: #fff;
                    padding-right: 10px;
                    font-weight: bold;
                }
            }
            h3 {
                font-weight: bold;
                color: black;
                margin-top: 30px;
                .number {
                    background: #fff;
                    color: #6f777b;
                    padding-right: 10px;
                }
            }
            h6 {
                font-size: 19px;
                line-height: 1.31579;
            }
        }
    }
}


@media (min-width: 641px) {
  .html-publications-show {
        .publication-header {
            padding: 0 30px;
            margin: 0 -15px;
            .headings {
                .document-type {
                    font-size: 27px;
                    line-height: 1.11111;                    
                    margin: 75px 0 10px;
                }
                h1 {
                    font-size: 48px;
                    line-height: 1.04167;                    
                    margin-bottom: 60px;
                }
            }
        }
      .publication-content {
          .govspeak {
            width: 75%;
            float: right;
              h2, h3 {
                  margin-top: 80px;
              }
              h2 {
                font-size: 36px;
                line-height: 1.11111;                  
                margin: 60px 0 15px;
                .number {
                    font-family: "nta", Arial, sans-serif;
                    font-size: 80px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: none;
                    font-weight: bold;
                    position: absolute;
                    margin: -30px 0 0 -25%;
                    width: 22%;
                    padding: 35px 0 30px 3%;
                  }                  
              }
            h3 {
                font-size: 27px;
                line-height: 1.11111;
                margin-top: 80px;
              }
              h4, h5, h6 {
                font-weight: bold;
                color: black;
                margin-top: 30px;                  
              }
            .number {
                padding-right: 0;
                display: inline-block;
                width: 75px;
                margin-left: -75px;
              }              
          }
      }
}
}

            
            </code>
        </pre>
    </details>
    
    <div class="example">
        <main class="sign-agreement" id="content" role="main" tabindex="-1">
  <a href="#" class="link-back">Back</a>

    
    <div class="grid-row" id="publication-banner">
        <div class="column-third">
            <div class="logo" data-intro="We include the department crest as a way of orientating the user to the source of the document at a glance." data-position="top">
    <h1><span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"><span>Skills Funding <br>Agency</span></span></h1>

  </div>
        </div>
        <div class="column-two-thirds">
                                <aside style="float: right; text-align: right;">
            <ul>
                <li data-intro="In many use cases we found users wanted to print these documents to share with a colleague for reading" data-position="top"><a href="#">Save this agreement as a PDF</a></li>
            </ul>
        </aside></div>
    </div>
    
    <article id="draftContract" class="html-publications-show">

            <header class="publication-header" id="contents">
<div class="inner-block floated-children">
<div class="headings">
<p class="document-type" data-intro="We define the type of document here; guideance, agreement, etc." data-position="left">Agreement</p>
<h1 data-intro="The name of the docment resides here rather than a typical h1 tag" data-position="right">Apprenticeship levy: <br>legal agreement to enable spending

</h1>
<p>Updated <time class="published-at date" datetime="2016-08-12T09:34:04+01:00" data-intro="The date of document should always be present. There is currently no user need for archived revisions in our projects." data-position="right">31 January 2017</time></p>
</div>
<nav class="in-page-navigation" data-intro="Document contents should anchor to their respective points in the document" data-position="left">
<h3 class="bold-small">Contents</h3>
<ol class="unnumbered">
<li><a href="#1 ">Definitions and Interpretation </a></li>
<li><a href="#2">Purpose and Use of Funding</a></li>
<li><a href="#3">Commencement and Duration</a></li>
</ol>
</nav>
</div>
</header>
            

<div class="block publication-content">
  <div class="inner-block floated-children">
    <div class="govspeak">
<h2 id="Introduction">Parties</h2>

<p>The SFA; and</p>
        <p>(1)	The Employer.</p>


        
<h2 id="Definitions">Background</h2>

<p>This Agreement sets out the terms for use of the Apprenticeship Funding Service by the Employer and the obligations by which the Employer agrees to be bound.</p>

        
<h2 id="term-of-agreement">Agreed terms</h2>

<h2 id="1"><span class="number">1.</span>Definitions and Interpretation</h2>
<p>In this Agreement the following terms shall have the following meanings:</p>
<p><span class="bold-small">Apprentice:</span> a person who works under an Apprenticeship Agreement.</p>
        <p><span class="bold-small">Apprenticeship:</span> the training and (where applicable) end-point assessment for an employee as part of a job with an accompanying skills development programme.</p>
      
        <p><span class="bold-small">Prohibited Act: means:</span></p>
        <ol class="list" style="list-style-type:lower-alpha;">
            <li>offering, giving or agreeing to give to any servant of the Crown any gift or consideration of any kind as an inducement or reward for:
            </li>
            <li>entering into this Agreement or any other contract with the Crown where a commission has been paid or has been agreed to be paid by the Employer or on its behalf, or to its knowledge, unless before the relevant contract is entered into particulars of any such commission and of the terms and conditions of any such contract for the payment thereof have been disclosed in writing to the SFA;</li>
            <li>committing any offence:
                <ol class="list" style="list-style-type:lower-roman; padding-left: 40px;">
                    <li>under the Bribery Act;</li>
                    <li>under legislation creating offences in respect of fraudulent acts; or</li>
                    <li>at common law in respect of fraudulent acts in relation to this Agreement or any other contract with the Crown; or</li>
                </ol>
            </li>
            <li>defrauding or attempting to defraud or conspiring to defraud the Crown.</li>
        </ol>
        <p><span class="bold-small">SFA:</span> the Secretary of State for Education, acting through the Skills Funding Agency, an executive agency of the Department for Education, whose principal address is at Cheylesmore House, Quinton Road, Coventry, CV1 2WT.</p>


        <h3><span class="number">1.2</span></h3>        
        <p>Unless the context otherwise requires, words in the singular shall include the plural and in the plural shall include the singular.</p>

        <h3><span class="number">1.3</span></h3>        
        <p>Unless the context otherwise requires, a reference to one gender shall include a reference to the other genders.</p>

        <h2 id="2"><span class="number">2.</span>Purpose and Use of Funding</h2>
        <p>The Employer acknowledges and accepts that the Funding available in the Employer’s Digital Account is to support the Training of Apprentices and shall be paid directly to the Training Provider in accordance with the Funding Rules. The Employer understands that the Funding may not be used for any other purpose.</p>

        
        <h2 id="3"><span class="number">3.</span>Commencement and Duration</h2>
        <h3><span class="number">3.1</span></h3>        
        <p>Except where otherwise specified, the terms of this Agreement shall apply from the Commencement Date and shall continue in force until it is terminated in accordance with clause 17 of this Agreement.</p>

        
        <h3><span class="number">3.2</span></h3>        
        <p>By electronically accepting these terms and conditions, the Employer confirms it is authorised to use funds in the Employer’s Digital Account and agrees to be legally bound by this Agreement.</p>      
        
        </div></div></div></article>

</main>
    </div>
    
</main>

{% endblock %}
