{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
        External sites
    </h1>
    <div class="text">
        <p class="lede">
            Demonstrating how external sites flow into the core product.
        </p>
    </div>
    <h2 class="heading-small heading-contents">Contents:</h2>
    <div class="grid-row">
        <div class="column-two-thirds">
            <ul class="list list-contents">
            </ul>
        </div>
    </div>
</main>

{% endblock %}
