{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">
    <h1 class="heading-large">Images</h1>
    <p class="lede text">Avoid unnecessary decoration - only use icons and images if there’s a real user need.</p>
    <h2 class="heading-small heading-contents">Contents:</h2>
    <div class="grid-row">
        <div class="column-two-thirds">
            <ul class="list list-contents">
                <li><a href="#images">Images</a></li>
            </ul>
        </div>
    </div>
    <h3 class="heading-medium" id="images">Images</h3>
    <p>If images are needed they should be landscape, 3:2 aspect ratio.</p>
    <div class="example example-images">
        <div class="grid-row">
            <div class="column-one-half">
                <img src="/public/images/examples/3by2.jpg" alt="3:2">
            </div>
            <div class="column-one-half">
                <img src="/public/images/examples/larry-the-cat.jpg" alt="">
            </div>
        </div>
    </div>
</main>

{% endblock %}
