{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

    <div class="hgroup">
    <h1 class="heading-xlarge">
		Elements
	</h1>
    <div class="text">
        <p class="lede">
            All the HTML Elements that can exist according to W3C.
        </p>
        <p>Those struck-through indicate that they do not have DAS styles to date. Those blue underlined have associated DAS styles. 
        </p>
    </div>    
    </div>
    
    <h2 class="heading-small heading-contents">Contents:</h2>
    <div class="grid-row">
        <div class="column-two-thirds">
            <ul class="list list-contents">
                <li><a href="/patterns/elements/scaffolding">Scaffolding</a></li>
                <li><a href="/patterns/elements/html/index">HTML elements</a></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
