{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "patterns/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
Reset your password        </h1>
        
        <p>Enter your email address to get a password reset code.</p>
        
<form>
    <div class="form-group">
            <label class="form-label-bold" for="email">Email</label>
            <ul class="hidden force-show" role="group" tabindex="-1">
                <!-- ngIf: errorOnSubmission && wasInvalidOnSubmit('email', 'required') || (wasInvalidOnSubmit('email', 'pattern')) -->
            </ul>
            <input class="form-control" id="email" maxlength="128" name="email" pattern="[A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+([.][A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+)*@[A-Za-z0-9\[\]:]+([.-][A-Za-z0-9\[\]:]+)*\.[A-Za-z0-9\[\]:]+([-.][A-Za-z0-9\[\]:]+)*" type="email" tabindex="0"> 
    </div>
    <div class="form-group">
        <a class="button" href="/user/reset-password.html">Get reset code</a>
    </div>
</form>
        

    </div>
  </div>

</main>
{% endblock %}
