{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
      Page layouts
    </h1>
    <div class="text">
        <p class="lede">
            Page designs
        </p>
    </div>
    <h2 class="heading-medium heading-contents">Contents:</h2>
    <div class="grid-row">
        <div class="column-two-thirds">
            <ul class="list list-contents">
                <li><a href="#" class="disabled">Dashboard</a> <span class="label mya">MA</span></li>
                <li><a href="#" class="disabled">Dashboard</a> <span class="label sfs">SFS</span></li>
                <li><a href="#" class="disabled">Dashboard</a> <span class="label recruit">RAA</span></li>
                <li><a href="#" class="disabled">Finance details</a> <span class="label mya">MA</span></li>
                <li><a href="#" class="disabled">Organisations</a> <span class="label mya">MA</span></li>
                <li><a href="#" class="disabled">PAYE Schemes</a> <span class="label mya">MA</span></li>
                <li><a href="#" class="disabled">Search</a> <span class="label fat">FAT</span></li>
                <li><a href="#" class="disabled">Search results</a> <span class="label fat">FAT</span></li>
                <li><a href="#" class="disabled">New requisition</a> <span class="label recruit">RAA</span></li>
            </ul>
        </div>
    </div>
    

        <h3 class="heading-small">Product legend</h3>
    <p class="font-xsmall">References the product these page layouts live.</p>
            <div class="form-group">
    <span class="label mya">Manage apprenticeships (MA)</span>
    <span class="label sfs">Contracts (SFS)</span>
    <span class="label recruit">Recruit an apprentice (RAA)</span>
    <span class="label fat">Find apprenticeship training (FAT)</span>
    </div>
</main>

{% endblock %}
