<!-- header logged out -->
<nav id="loggedOut" class="hidden">
<div class="global-header-bar"></div>
<div class="header-user">
	<div class="header-inner">
		<div class="service-info">
		    <div class="phase-banner">
		        <p>
		            <strong class="phase-tag">ALPHA</strong>
		            <span>This pattern library in in development – your <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank">feedback</a> will help us to improve it. </span>
		        </p>
		    </div>
		</div>
	</div>
</div>
<div class="header-organisation">
	<div class="header-inner">

		<!--<h2 class="heading-medium">Spend your levy homepage</h2>-->
		<nav id="global-nav" class="global-nav">
			<ul id="global-nav-links">
				<li class="home"><a href="/">Home</a></li>
				<li class="external-sites"><a href="/external-sites/">External sites</a></li>
				<li class="user-journeys"><a href="/user-journeys/">User journeys</a></li>
				<li class="visual-language"><a href="/visual-language/">Visual language</a></li>
				<li class="interaction-design"><a href="/interaction-design/">Interaction design</a></li>
				<li class="page-layouts"><a href="/page-layouts/">Page layouts</a></li>
				<li class="HTML-elements"><a href="/HTML-elements/">HTML elements</a></li>
				<li class="foundation"><a href="/foundation/">Foundation</a></li>
                <li class="more hidden"><a href="#">More +</a></li>
			</ul>
		</nav>
	</div>
</div>
</nav>