<!-- header logged out -->
<nav id="loggedOut" class="hidden">
<div class="global-header-bar"></div>
<div class="header-user">
	<div class="header-inner">
		<div class="service-info">
		    <div class="phase-banner">
		        <p>
		            <strong class="phase-tag">ALPHA</strong>
		            <span>This pattern library in in development – your <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank">feedback</a> will help us to improve it. </span>
		        </p>
		    </div>
		</div>
	</div>
</div>
<div class="header-organisation">
	<div class="header-inner">

		<!--<h2 class="heading-medium">Spend your levy homepage</h2>-->
		<nav id="global-nav" class="global-nav">
			<ul id="global-nav-links">
				<li class="home"><a href="/sprint/{{sprint}}/index">Home</a></li>
				<li class="garden"><a href="/sprint/{{sprint}}/garden/index">Garden</a></li>
				<li class="showroom"><a href="/sprint/{{sprint}}/showroom/index">Showroom</a></li>
				<li class="interior"><a href="/sprint/{{sprint}}/interior/index">Interior design</a></li>
				<li class="plumbing"><a href="/sprint/{{sprint}}/plumbing/index">Plumbing &amp; wiring</a></li>
				<li class="rooms"><a href="/sprint/{{sprint}}/rooms/index">Rooms</a></li>
				<li class="materials"><a href="/sprint/{{sprint}}/materials/index">Materials</a></li>
				<li class="plans"><a href="/sprint/{{sprint}}/plans/index">Plans</a></li>
				<li class="foundation"><a href="/sprint/{{sprint}}/foundation/index">Foundation</a></li>
                <li class="more"><a href="#">More +</a></li>
			</ul>
		</nav>
	</div>
</div>
</nav>