<!-- header logged out -->
<nav id="loggedOut" class="hidden">
<div class="global-header-bar"></div>
<div class="header-user">
	<div class="header-inner">
		<div class="service-info">
		    <div class="phase-banner">
		        <p>
		            <strong class="phase-tag">ALPHA</strong>
		            <span>This pattern library in in development – your <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank">feedback</a> will help us to improve it. </span>
		        </p>
		    </div>
		</div>
	</div>
</div>
<div class="header-organisation">
	<div class="header-inner">

		<!--<h2 class="heading-medium">Spend your levy homepage</h2>-->
		<nav id="global-nav" class="global-nav">
			<ul id="global-nav-links">
				<li class="home"><a href="/">Home</a></li>
				<li class="garden"><a href="/garden/">Garden</a></li>
				<li class="showroom"><a href="/showroom/">Showroom</a></li>
				<li class="interior"><a href="/interior/">Interior design</a></li>
				<li class="plumbing"><a href="/plumbing/">Plumbing</a></li>
				<li class="rooms"><a href="/rooms/">Rooms</a></li>
				<li class="materials"><a href="/materials/">Materials</a></li>
				<li class="foundation"><a href="/foundation/">Foundation</a></li>
                <li class="more hidden"><a href="#">More +</a></li>
			</ul>
		</nav>
	</div>
</div>
</nav>