{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<main id="content" class="scripts" role="main" tabindex="-1">
    
    <div class="hgroup">
    <h1 class="heading-xlarge">
      das-alpha-non-levy
    </h1>
    <div class="text">
        <p class="lede">
            Non levy experience on the apprenticeship service.
        </p>
    </div>    
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-medium">How to use this prototype</h2>
            <p>Visit the <code class="code">proto-admin</code> page to configure which iteration you wish to use in the <code class="code">sprint number</code> input field.</p>
            
            <h3 class="heading-small">Prototype link</h3>
            <a href="https://das-alpha-non-levy.herokuapp.com/" target="_blank">https://das-alpha-non-levy.herokuapp.com/</a>
            <h3 class="heading-small">Login credentials</h3>
            <dl>
                <dt>Username</dt>
                <dd>alpha</dd>
                <dt>Password</dt>
                <dd>levy</dd>
            </dl>
          
        </div>
        <aside class="column-third">
            <div class="related">
                  <h3 class="heading-small">Github repositry</h3>
                Coming soon
                <h3 class="heading-small">Maintained by</h3>
        
        <a href="mailto:rob@digi2al.co.uk">Rob Jenkins</a>
            </div>
        </aside>
    </div>
</main>

{% endblock %}





