{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<main id="content" class="scripts" role="main" tabindex="-1">
    
    <div class="hgroup">
    <h1 class="heading-xlarge">
      esfa prototype
    </h1>
    <div class="text">
        <p class="lede">
            Training provider interface
        </p>
    </div>    
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-medium">How to use this prototype</h2>
            <p>Visit the prototype link and use the login credentials in the first instance.</p>
            
            <h3 class="heading-small">Prototype link</h3>
            <a href="https://esfs-prototype.herokuapp.com/" target="_blank">https://esfs-prototype.herokuapp.com/</a>
            <h3 class="heading-small">Login credentials</h3>
            <dl>
                <dt>Username</dt>
                <dd>apprentice</dd>
                <dt>Password</dt>
                <dd>james</dd>
            </dl>
          
        </div>
        <aside class="column-third">
            <div class="related">
                  <h3 class="heading-small">Github repositry</h3>
                coming soon
  <h3 class="heading-small">Maintained by</h3>
        
        <a href="mailto:Melody.CURTIS@education.gov.uk ">Melody Curtis</a>
            </div>
        </aside>
    </div>
</main>

{% endblock %}





