{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<main id="content" class="scripts" role="main" tabindex="-1">
    
    <div class="hgroup">
    <h1 class="heading-xlarge">
irt-prototype
        </h1>
    <div class="text">
        <p class="lede">
        Prototype information
        </p>
    </div>    
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-medium">How to use this prototype</h2>
            <p>Use the start now button to view the latest iteration, with latter versions being available in the below table</p>
            
            <h3 class="heading-small">Prototype link</h3>
            <a href="https://irt-prototype.herokuapp.com/" target="_blank">https://irt-prototype.herokuapp.com/</a>
            <h3 class="heading-small">Login credentials</h3>
            <dl>
                <dt>Username</dt>
                <dd>test</dd>
                <dt>Password</dt>
                <dd>test</dd>
            </dl>
          
        </div>
        <aside class="column-third">
            <div class="related">
                  <h3 class="heading-small">Github repositry</h3>
                Coming soon
  <h3 class="heading-small">Maintained by</h3>
        
        David Olsan
            </div>
        </aside>
    </div>
</main>

{% endblock %}





