{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

    
{% include "includes/link-back.html" %}
    
<section id="errors">
    <div class="hgroup">
    <h2 class="heading-xlarge">Errors</h2>
    <p class="lede text">How we alert users to issues on the page.</p>
    </div>
    
    <h3 class="heading-medium" id="one-question-per-page">Ask one question per page</h3>
<div class="text">
  <p>
    Recovering from errors can be hard for users, especially if a page contains multiple errors.
  </p>
  <p>
    Simplify forms by rewriting and where possible, splitting long forms across multiple pages - with each page asking a single question.
  </p>
  </div>
<h3 class="heading-medium" id="summarise-errors">
    Summarise errors at the top of the page
  </h3>
<p class="text lead-in">
    You should:
  </p>
<ul class="text list list-bullet">
    <li>show an error summary at the top of the page</li>
    <li>include a heading to alert the user to the error</li>
    <li>link to each of the problematic questions</li>
  </ul>
<h4 class="heading-small">Error message and summary box</h4>

    <div class="example example-error">
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
  </ul>

</div>

<h1 class="heading-large">
    Declare your form verb here
</h1>

<p>
    Add a lead line about the form function here.
</p>

<form>
      <div class="form-group form-group-error">
        <fieldset>

          <legend id="example-personal-details">

            <span class="form-label-bold">
              What type of organisation applies to you?
            </span>
            <span class="error-message">
              Error message for a required input
            </span>

          </legend>

          <div class="multiple-choice">
            <input id="public-sector" type="radio" name="radio-group" value="public">
            <label for="public-sector">Public sector organisation</label>
          </div>

          <div class="multiple-choice">
            <input id="private-sector" type="radio" name="radio-group" value="private">
            <label for="private-sector">Private sector organisation</label>
          </div>

        </fieldset>
      </div>

      <input class="button" type="submit" value="Continue">

    </form>

</div>

    
<details>
    <summary>HTML</summary>

<pre><code class="html">
&lt;div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1"&gt;

  &lt;h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1"&gt;
    Message to alert the user to a problem goes here
  &lt;/h1&gt;

  &lt;p&gt;
    Optional description of the errors and how to correct them
  &lt;/p&gt;

  &lt;ul class="error-summary-list"&gt;
    &lt;li&gt;&lt;a href="#example-personal-details"&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;

&lt;/div&gt;

&lt;h1 class="heading-large"&gt;
  Check your personal details
&lt;/h1&gt;

&lt;p&gt;
  What type of organisation applies to you?
&lt;/p&gt;

&lt;form&gt;
  &lt;div class="form-group form-group-error"&gt;
    &lt;fieldset&gt;

      &lt;legend id="example-personal-details"&gt;

        &lt;span class="form-label-bold"&gt;
          Are your personal details correct and up-to-date?
        &lt;/span&gt;
        &lt;span class="error-message"&gt;
          Error message about personal details goes here
        &lt;/span&gt;

      &lt;/legend&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="personal_details_yes" type="radio" name="personalDetails" value="Yes"&gt;
        &lt;label for="personal_details_yes"&gt;Yes, my personal details are correct&lt;/label&gt;
      &lt;/div&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="personal_details_no" type="radio" name="personalDetails" value="No"&gt;
        &lt;label for="personal_details_no"&gt;No, some details are wrong or have changed&lt;/label&gt;
      &lt;/div&gt;

    &lt;/fieldset&gt;
  &lt;/div&gt;

  &lt;input class="button" type="submit" value="Continue"&gt;

&lt;/form&gt;

</code></pre>
        
</details>
            
           
<div class="panel panel-border-narrow">
    <h3 class="heading-small">
      The error summary should appear at the top of the page, so it is visible when the page is refreshed and is immediately read out by assistive technology.
    </h3>
  </div>
<h3 class="heading-medium" id="highlight-errors">Highlight errors in forms</h3>
<p class="lead-in">
    For each error:
  </p>
<ul class="list list-bullet text">
    <li>write a message that helps the user to understand why the error occurred and what to do about it</li>
    <li>put the message in the <code class="code">&lt;label&gt;</code> or <code class="code">&lt;legend&gt;</code> for the question,
    after the question text, in red</li>
    <li>use a red border to visually connect the message and the question it belongs to</li>
    <li>if the error relates to specific text fields within the question, give these a red border as well</li>
  </ul>
<p class="text">
    For red, use the <code class="code">$error-colour</code> Sass variable – find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss" rel="external">colours.scss</a> file.
  </p>

<div class="example example-error">
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-full-name">Descriptive link to the question with an error</a></li>
    <li><a href="#example-ni-number">Descriptive link to the question with an error</a></li>
  </ul>

</div>

<h1 class="heading-large">
  Your personal details
</h1>

<div class="form-group error">

  <label for="example-full-name" id="error-full-name">

    <span class="form-label-bold">Full name</span>
    <span class="form-hint">As shown on your birth certificate or passport</span>
    <span class="error-message" id="error-message-full-name">Error message about full name goes here</span>

  </label>

  <input class="form-control form-control-error" id="example-full-name" type="text" name="fullName" value="" aria-describedby="error-message-full-name">
</div>

<div class="form-group error">

  <label for="example-ni-number" id="error-ni-number">

    <span class="form-label-bold">National Insurance number</span>
    <span class="form-hint">
      It’s on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, ‘QQ 12 34 56 C’.
    </span>
    <span class="error-message" id="error-message-ni-number">
      Error message about National Insurance number goes here
    </span>

  </label>

  <input class="form-control form-control-error" id="example-ni-number" type="text" name="niNo" value="" aria-describedby="error-message-ni-number">

</div>

<input class="button" type="submit" value="Continue">

</div>

<details>
    <summary>
        HTML
    </summary>
<pre><code class="html">
&lt;div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1"&gt;

  &lt;h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2"&gt;
    Message to alert the user to a problem goes here
  &lt;/h1&gt;

  &lt;p&gt;
    Optional description of the errors and how to correct them
  &lt;/p&gt;

  &lt;ul class="error-summary-list"&gt;
    &lt;li&gt;&lt;a href="#example-full-name"&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#example-ni-number"&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;

&lt;/div&gt;

&lt;h1 class="heading-large"&gt;
  Your personal details
&lt;/h1&gt;

&lt;div class="form-group form-group-error"&gt;

  &lt;label for="example-full-name" id="error-full-name"&gt;

    &lt;span class="form-label-bold"&gt;Full name&lt;/span&gt;
    &lt;span class="form-hint"&gt;As shown on your birth certificate or passport&lt;/span&gt;
    &lt;span class="error-message" id="error-message-full-name"&gt;Error message about full name goes here&lt;/span&gt;

  &lt;/label&gt;

  &lt;input class="form-control form-control-error" id="example-full-name" type="text" name="fullName" value="" aria-describedby="error-message-full-name"&gt;
&lt;/div&gt;

&lt;div class="form-group form-group-error"&gt;

  &lt;label for="example-ni-number" id="error-ni-number"&gt;

    &lt;span class="form-label-bold"&gt;National Insurance number&lt;/span&gt;
    &lt;span class="form-hint"&gt;
      It’s on your National Insurance card, benefit letter, payslip or P60.
      &lt;br&gt;
      For example, ‘QQ 12 34 56 C’.
    &lt;/span&gt;
    &lt;span class="error-message" id="error-message-ni-number"&gt;
      Error message about National Insurance number goes here
    &lt;/span&gt;

  &lt;/label&gt;

  &lt;input class="form-control form-control-error" id="example-ni-number" type="text" name="niNo" value="" aria-describedby="error-message-ni-number"&gt;

&lt;/div&gt;

&lt;input class="button" type="submit" value="Continue"&gt;
</code></pre>    
</details>

</section>
    
    {% endblock %}