{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

    
{% include "includes/link-back.html" %}
    
<section id="forms">
    
    <div class="hgroup">
        <h2 class="heading-xlarge">Forms</h2>
        <p class="lede text">Why do we use notifications, what is the purpose, how and when should they implemented</p>
    </div>
    
    
    <h3 class="heading-medium">Input with units</h3>
    <p>Adding the unit to an input helps the user quickly understand the type of input required.</p>
    <h4 class="heading-small">Unit before</h4>
    <p>For use with most currency values.</p>
    <div class="example">
        <div class="form-group">
            <label class="form-label-bold" for="levy-value">Estimated levy</label>
            <label for="levy-value" class="text-box-unit">$</label>
            <input class="form-control text-box-with-unit-before" id="levy-value" name="levy-value" type="text">
        </div>
    </div>
    <h4 class="heading-small">Unit after</h4>
    <p>After.</p>
    <div class="example">
        <div class="form-group">
            <label class="form-label-bold" for="english-value">English percentage</label>
            <input class="form-control text-box-with-unit-after" id="english-value" name="english-value" type="text" style="width: 80px">
            <label for="english-value" class="text-box-unit">%</label>
        </div>
    </div>
    <h3 class="heading-medium">Input masks</h3>
    <h4 class="heading-small">Numbers</h4>
    <p>For use with most currency values.</p>
    <div class="example">
        <div class="form-group">
            <label class="form-label-bold" for="levy-value-2">Estimated levy</label>
            <label for="levy-value-2" class="text-box-unit">£</label>
            <input class="form-control text-box-with-unit-before money-mask" id="levy-value-2" name="levy-value-2" type="text">
        </div>
    </div>
    <div class="example">
        <div class="form-group">
            <label class="form-label-bold" for="english-value">English percentage</label>
            <input class="form-control text-box-with-unit-after percentage-mask" id="english-value" name="english-value" type="text" style="width: 80px">
            <label for="english-value" class="text-box-unit">%</label>
        </div>
    </div>
</section>

    
  {% include "patterns/interaction-design/textarea.html" %}
    
    
<script>
      $(document).ready(function() {
          /* ------------------------------------------
           Input mask - currency values
          ------------------------------------------ */
          $('.money-mask').mask('000,000,000,000,000.00', { reverse: false });
          $('.percentage-mask').mask('Z00', {
              translation: {
                  'Z': {
                      pattern: /[1]/,
                      optional: true
                  }
              },
              reverse: true
          });
      });
</script>
    
    </main>

{% endblock %}