{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">
    Interaction design
  </h1>
  <div class="text">
      <p class="lede">
          The micro interactions joining the experience together
      </p>
  </div>
  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="interaction-design/forms">Forms</a></li>
        <!--<li><a href="#help">Help</a></li>-->
        <!--<li><a href="#user">User</a></li>-->
        <li><a href="interaction-design/notifications">Notifications</a></li>
        <li><a href="interaction-design/forms#errors">Errors</a></li>
        <li><a href="#accordion">Accordion</a></li>
        <li><a href="interaction-design/wizards">Wizards</a></li>
        <li><a href="interaction-design/navigation">Navigation</a></li>
      </ul>
    </div>
  </div>
  {% include "patterns/interaction-design/accordion.html" %} 

  <!-- Mask -->
  <script src="/public/javascripts/jquery.mask.min.js"></script>
  <!-- Patterns -->
  <script src="/public/javascripts/patterns/NEEDS-TO-BE-BROKEN-DOWN.js"></script>

</main>
{% endblock %}

