{% extends "layout_with-nav.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}





{% block content %}

<main id="content" role="main" tabindex="-1">

        <div class="hgroup">
        <h1 class="heading-xlarge">
          Navigation
        </h1>
        <div class="text">
            <p class="lede">
                Helping users navigate through our service.
            </p>
        </div>
    </div>
    

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Menu</h2>
            <p>We designed a top level navigation to facilitate users traversing through the product at any point.</p><p>Our product has non-linear task model and as such simple next steps don't always facilitate the user need. Our top menu gives users a broad sense where in the site they are and an easy, consistent way to move to other parts of the site.</p>
            <h3 class="heading-small">Features</h3>
            <p>The navigation has several features:</p>
            <ul class="list list-bullet">
                <li>mobile first approach.</li>
                <li>progressively enhances</li>
                <li>priority menu disclosure</li>
            </ul>
        </div>
    </div>

    <div class="example">   
        <h2 class="heading-medium">Mobile menu</h2>
            <iframe src="navigation-example.html" width="480px" height="400px" scrolling="no" frameborder="0"></iframe>    
        <h2 class="heading-medium">Tablet menu</h2>
            <iframe src="navigation-example.html" width="641px" height="400px" scrolling="no" frameborder="0"></iframe>    
        <h2 class="heading-medium">Desktop menu</h2>
            <iframe src="navigation-example.html" width="100%" height="400px" scrolling="no" frameborder="0"></iframe>    
 </div>
    
    <details>
        <summary>SASS</summary>
        <pre>
            <code class="sass hljs xml">
            
@include media(mobile) {
         nav .header-organisation.closed {
            height: 43px;
            overflow: hidden;
             .global-nav-links li {
                 display: none;
                 &.more {
                     display: none;
                 }
                 &.menu {
                     display: block;
                 }
             }
        } 
    nav .header-organisation.open {
        height: auto;
        overflow: auto;
        .global-nav-links li {
            display: block;
            width: 100%;
            float: left;
            &.more, &.menu {
                display: none;
            }
        }
    }
}

    @include media(tablet) {
        nav .header-organisation.closed {
            height: 44px;
            overflow: hidden;
            .global-nav-links li {
            &.more, &.menu {
                display: none;
            }
                &.more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $white;
                    box-shadow: -5px 0px 10px rgba(255,255,255,0.8);
                }
            }
        }
        nav .header-organisation.open {
            height: auto;
            .global-nav-links li {
                &.more, &.menu {
                    display: none;
                }
            }
        }
    }

@include media(desktop) {
        nav .header-organisation.closed {
            height: 50px;
            overflow: hidden;
            .global-nav-links li {
            &.more, &.menu {
                display: none;
            }
                &.more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $white;
                    box-shadow: -5px 0px 10px rgba(255,255,255,0.8);
                }
            }
        }
        nav .header-organisation.open {
            height: auto;
            .global-nav-links li {
                &.more {
                    display: none;
                }
            }
        }  
}
            </code>
        </pre>
    </details>
    
    <details>
        <summary>JS</summary>
        <pre>
            <code class="js hljs xml">
function progressiveMenuDisclosure() {
    $(".header-organisation").addClass("closed").removeClass("open");
    
  
        
        var viewportWidth = $(".header-organisation").outerWidth();
        var liSubTotalWidth = 0;
        var liTotalWidth = 0;
        var width = 0;
        var moreWidth = $(".more").outerWidth();
        var menuWidth = $(".menu").outerWidth();
        const mq = window.matchMedia( "(min-width: 641px)" );

        $(".header-inner li").each(function(){
            width = $(this).width();
            liSubTotalWidth = liSubTotalWidth + width;
        });    
        liTotalWidth = liSubTotalWidth - moreWidth - menuWidth;


        if ( mq.matches &amp;&amp; (viewportWidth &lt;= liTotalWidth) ) {
            $(".more").show();        
        } else {
            $(".more").hide();               
        }    
    
    $(".header-organisation .more, .header-organisation .menu").click(function(e){
        $(".header-organisation").addClass("open").removeClass("closed");
        $(".more").hide();
    });          
    }
    
    progressiveMenuDisclosure();
            </code>
        </pre>
    </details>
    
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large" id="nextsteps">Next steps</h2>
            <p>Next steps is a design pattern built to concierge users at the end of a transaction onto relevant transactios that would naturally follow the prior process.</p>
            
            
        <div class="example">
            
            <span class="form-hint">&lt;!-- end of transaction feedback goes here --&gt;</span>
            <form action="">
            <legend class="heading-medium">What next?</legend>
        <div class="form-group">


                                         <div class="multiple-choice">
        <input id="thing1" type="radio" name="next" value="0">
 <label data-target="thing1" for="thing1">Do the thing</label>
            </div>
                                                
                                    <div class="multiple-choice">
        <input id="thing2" type="radio" name="next" value="2">
            <label data-target="thing2" for="thing2">Do the other thing</label>
            </div>            
                                    <div class="multiple-choice">
        <input id="homepage" type="radio" name="next" value="3">
      <label data-target="homepage" for="homepage">Go back to the homepage</label>
            </div>
      </div>

  
      <a class="button" href="#" id="submit">Continue</a>
      
</form>    
        </div>
        </div>
        
     
    </div>
    
    
    <div class="grid-row">
        <div class="column-two-thirds">
        <h2 class="heading-large">
            Breadcrumbs
        </h2>
        <p>We use breadcrumbs on hub and spoke pages, this is pages that help navigate users to transactional pages or static content pages.</p>
            <p>Breadcrumbs should start with home and for subsequent pages be the h1 tag for said page.</p>
            <div class="example">
                <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="#">Home</a></li>
            <li>Active page</li>
        </ol>
    </div>
                <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">Level 1 page</a></li>
            <li>Active page</li>
        </ol>
    </div>
            </div>
       </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
        <h2 class="heading-medium">
            Back buttons
        </h2>
        <p>We use back links when the user has entered a transaction. In some instances navigating backwards breaks the previous form submissions in a transaction. To help avoid these conseuqentlal error we control where the back button directs the user.</p>
        
        <h3 class="heading-small">Normal back button</h3>
        <div class="example">
            <a href="#" class="link-back">Back</a>
        </div>
        
        <h3 class="heading-small">Back to specific step button</h3>
        <div class="example">
            <a href="#" class="link-back">Back to adding apprentice details</a>
        </div>
    </div>
    </div>
    
</main>

{% endblock %}
