<section id="transactions-compelte">
    <div class="grid-row">
        <div class="column-two-thirds">
        <h2 class="heading-large" id="transactions">Transaction complete</h2>
            <p>At the end of a process, to signify the completion of a task the GDS green banner is used. Where applicable information such as reference numbers are included, otherwise just a simple message is provided. See the <a href="#">transaction user journey</a> for further details.</p>        
        </div>
    </div>
    <div class="example">    
            <div class="govuk-box-highlight">
                <h2 class="bold-large">Account created</h2>
                <p>You need to sign the SFA agreement before you can start spending your levy.</p>
                <p class="bold-small">Reference number: XF4F34</p>
            </div>
        </div>
     <details>
        <summary>SASS</summary>
                    <pre>
                <code class="sass">
.govuk-box-highlight {
    margin: 1em 0;
    padding: 2em 0 1em;
    color: #fff;
    background: #28a197;
    text-align: center;
}


.govuk-box-highlight {
  padding: 1em 0;
}

.govuk-box-highlight p {
  margin-bottom: 0;
}

.govuk-box-highlight p, .govuk-box-highlight h1, .govuk-box-highlight h2 {
  margin: 0 auto;
  max-width: 30em;
}

.govuk-box-highlight p {
  font-size: 24px;
  line-height: 1.25;
}

.govuk-box-highlight a {
  color: white;
}

.govuk-box-highlight a:hover {
  color: #2b8cc4;
}

.govuk-box-highlight a:visited {
  color: #912B88;
}

                </code>
            </pre>
    </details>
     <details>
        <summary>HTML</summary>
                    <pre>
                <code class="html">
&lt;div class="govuk-box-highlight"&gt;
    &lt;h2 class="heading-large"&gt;&lt;/h2&gt;
    &lt;p&gt;&lt;/p&gt;
&lt;/div&gt;
                </code>
            </pre> 
    </details>

</section>