{% extends "layout.html" %}

{% block page_title %}
  DAS pattern library
{% endblock %}

{% block inside_header %}

{% endblock %}




{% block content %}


{% block after_header %}
{% include "patterns/includes/header.html" %}
{% endblock %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">
    Interior design
  </h1>

  <div class="text">
    <p class="lede">
The visceral experience and tone of voice
    </p>
  </div>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
          <li><a href="/interior/colour">Colour</a></li>
          <li><a href="/interior/images">Images</a></li>
          <li><a href="/interior/icons">Icons</a></li>
      </ul>
    </div>
  </div>
    
</main>
{% endblock %}
