{% extends "layout.html" %}

{% block page_title %}
  ESFA pattern library
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="hgroup text">
    <h1 class="heading-xlarge">
        ESFA pattern library
    </h1>
    <ul class="list list-bullet">
        <li>lift design patterns for your UI</li>
        <li>provides a reference to validate your design choices</li>
        <li>align yourself with other SFA products</li>
    </ul>
</div>
<div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/interaction-design">Interaction design</a></h2>
        <p>
            The micro interactions joiningtheexperiencetogether
        </p>
        <ul class="list list-bullet">
            <li>javascript enahcements</li>
            <li>forms</li>
            <li>validation</li>
            <li>notifications</li>
        </ul>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/page-layouts">Page layouts</a></h2>
        <p>
            Page designs
        </p>
        <ul class="list list-bullet">
            <li>dashboards</li>
            <li>search results</li>
            <li>guides</li>
        </ul>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/HTML-elements">HTML Elements</a></h2>
        <p>
            All the HTML Elements that can exist according to W3C
        </p>
        <ul class="list list-bullet">
            <li>p</li>
            <li>div</li>
            <li>input</li>
        </ul>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/visual-language/index.html">Visual language</a></h2>
        <p>
            Styled content
        </p>
        <ul class="list list-bullet">
            <li>Information boxes</li>
            <li>Content wrappers</li>
        </ul>
    </div>
</div>


<!-- <div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/visual-language">Visual language</a></h2>
        <p>
            The visceral experience and tone of voice
        </p>
        <ul class="list list-bullet">
            <li>colour</li>
            <li>art direction</li>
            <li>iconography</li>
        </ul>
    </div>
    div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/foundation">Foundation</a></h2>
        <p>
            Building blocks for any web based application
        </p>
        <ul class="list list-bullet">
            <li>HTML boilerplate</li>
            <li>CSS reset</li>
            <li>CSS pre-processors</li>
            <li>javascript frameworks</li>
        </ul>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/external-sites">External sites</a></h2>
        <p>
            Demonstrating how external sites flow into the core product.
        </p>
        <ul class="list list-bullet">
            <li>mico-sites</li>
            <li>landing pages</li>
            <li>social media presence</li>
        </ul>
    </div>
</div> -->
<!-- <div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-medium"><a href="patterns/user-journeys">User journeys</a></h2>
        <p>
            Common user journey patterns.
        </p>
        <ul class="list list-bullet">
            <li>authentification</li>
            <li>check &amp; sign</li>
            <li>invitations</li>
        </ul>
    </div>
</div> -->

</main>

{% endblock %}


